*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}


.btn-primary {
  background: linear-gradient(90deg, #4ab0ff, #f69d01, #4ab0ff);
  background-size: 300% 300%;
  background-position: left center; 
  transition: background-position 1.5s ease-in-out;
}

.btn-primary:hover {
  background-position: right center;
}