

:root {
  --bs-body-bg: #ffffff;
  --bs-body-color: #000000;
  --bs-btn-bg: #0d6efd;
  --bs-btn-color: #ffffff;
}

.dark-mode {
  --bs-body-bg: #121212;
  --bs-body-color: #ffffff;
  --bs-btn-bg: #1a73e8;
  --bs-btn-color: #ffffff;
}

body, #__next {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: sans-serif;
}